@media only screen and (min-width: 320px) and (max-width: 637px) {

  .about-container {
  display: flex;
  position: relative;
  background-color: rgb(21, 21, 21);
  background: url('https://w.forfun.com/fetch/67/674d9f64c8a3c0110654ebdd1e037503.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  overflow: hidden;
  }

  .about-wrapper {
    display: flex;
    color: white;
    flex-direction: column;
    width: 100%;
    margin-top: 90px;
    height: auto;
  }

  .about-page-tittle {
    display: flex;
    justify-content: center;
  }

  .about-page-tittle h3 {
    border-bottom: 5px solid gold;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 30px;
    gap: .5em;
  }

  .picture {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .picture img {
    width: 150px;
  }

  .position {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px 15px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .position h3 {
    font-size: 18px;
    color: gold;
  }

  .details-one {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  .details-two {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px 15px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .details-three {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    grid-column: 1 / 3;
    grid-row: 5 / 6;
  }

  .my-1x1-picure {
    display: flex;
    height: 210px;
  }

  .my-1x1-picure img {
    border-radius: 15px;
  }

  .my-details {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    padding: 0px;
    align-items: start;
    right: 0;
  }

  .my-details p {
    display: flex;
    align-items: center;
    gap: .5em;
    padding: 2px 0;
  }

  .my-details span {
    color: wheat;
    font-weight: 600;
  }
}

@media only screen and (min-width: 637px) and (max-width: 1023px) {

  .about-container {
    display: flex;
    position: relative;
    background-color: rgb(21, 21, 21);
    background: url('https://w.forfun.com/fetch/67/674d9f64c8a3c0110654ebdd1e037503.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    overflow: hidden;
  }

  .about-wrapper {
    display: flex;
    color: white;
    flex-direction: column;
    width: 100%;
    margin-top: 130px;
    height: auto;
  }

  .about-page-tittle {
    display: flex;
    color: white;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100px;
    left: 60px;
    width: 150px;
    height: 30px;
    border-bottom: 4px solid gold;
  }

  .about-me-contents {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
  }

  .grid-container {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 1em;
    margin-top: 30px;
  }

  .picture {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .picture img {
    width: 150px;
  }

  .position {
    display: flex;
    justify-content: start;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 5px;
    margin-left: -50px;
  }

  .position h3 {
    font-size: 16px;
    color: gold;
  }

  .details-one {
    display: flex;
    justify-content: start;
    align-items: center;
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    padding: 5px 25px;
  }

  .details-two {
    display: flex;
    justify-content: start;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 5px;
    margin-left: -50px;
  }

  .details-three {
    display: flex;
    justify-content: start;
    align-items: center;
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    padding: 5px 25px;
  }

  .my-1x1-picure {
    display: flex;
    height: 280px;
  }

  .my-1x1-picure img {
    border-radius: 15px;
  }

  .my-details {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 0px;
    align-items: start;
    right: 0;
  }

  .my-details p {
    display: flex;
    align-items: center;
    gap: .5em;
    padding: 2px 0;
  }

  .my-details span {
    color: wheat;
    font-weight: 600;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 8000px) {

  .about-container {
    display: flex;
    position: relative;
    background-color: rgb(21, 21, 21);
    background: url('https://w.forfun.com/fetch/67/674d9f64c8a3c0110654ebdd1e037503.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    overflow: hidden;
  }

  .about-wrapper {
    display: flex;
    color: white;
    flex-direction: column;
    width: 100%;
    margin-top: 90px;
    height: auto;
  }
  
  .about-page-tittle h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    width: 150px;
    font-size: 25px;
    border-bottom: 4px solid gold;
  }

  .about-me-contents {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
  }

  .grid-container {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 0em;
    margin-top: 30px;
  }

  .picture {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .picture img {
    width: 150px;
  }

  .position {
    display: flex;
    justify-content: start;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 5px;
    margin-left: -50px;
  }

  .position h3 {
    font-size: 22px;
    color: gold;
  }

  .details-one {
    display: flex;
    justify-content: start;
    align-items: center;
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    padding: 5px 25px;
  }

  .details-two {
    display: flex;
    justify-content: start;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 1px;
    margin-left: -50px;
    font-size: 18px;
  }

  .details-three {
    display: flex;
    justify-content: start;
    align-items: center;
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    padding: 5px 25px;
  }

  .my-1x1-picure {
    display: flex;
    height: 280px;
  }

  .my-1x1-picure img {
    border-radius: 15px;
  }

  .my-details {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 0px;
    align-items: start;
    right: 0;
  }

  .my-details p {
    display: flex;
    align-items: center;
    gap: .5em;
    padding: 2px 0;
  }

  .my-details span {
    color: wheat;
    font-weight: 600;
  }

}