@media only screen and (min-width: 320px) and (max-width: 637px) {

  .home-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100dvh;
  gap: 5em;
  color: white;
  top: 0;
  }

  .home-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
  }

  .hero-container {
    display: flex;
    position: absolute;
    height: 300px; /* i will set this into 370px when I have a new selfie picture*/
    width: 300px; 
    bottom: 0;
    z-index: 9;
  }

  .hero-container img{
    width: 100%;
    height: 100%;
  }

  .hero-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 10;
  }

  .name-wrapper-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 50px;
  }

  .name-wrapper-container h2 {
    display: flex;
    font-size: 22px;
    color: gold;
  }

  .john-rotation {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    width: 12px;
    height: 12px;
    margin-top: 12px;
    font-weight: 1000;
    animation: rotate 1s infinite linear;
  }

  .myrotation {
    display: inline-flex;
    justify-self: center;
    align-self: center;
    animation: rotate 1s infinite linear;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  .hero-description-container p {
    font-size: 22px;
  }

  .dynamic-txt-static-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 50px;
    overflow: hidden;
  }

  .dynamic-txts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    animation: step-up 18s steps(3) infinite;
  }

  @keyframes step-up {
    100% {
      top: -150px;
    }
  }

  .dynamic-p-one {
    display: flex;
    width: 220px;
    height: 50px;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid gold;
    animation: blinking .5s infinite, typing-effect-one 3s steps(18) alternate infinite;
  }

  @keyframes typing-effect-one {
    0% {
      width: 0px;
    }
    100% {
      width: 220px;
    }
    60% {
      width: 220px;
    }
  }

  .dynamic-p-two {
    display: flex;
    width: 180px;
    height: 50px;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid gold;
    animation: blinking .5s infinite, typing-effect-two 3s steps(18) alternate infinite;
  }

  @keyframes typing-effect-two {
    0% {
      width: 0px;
    }
    100% {
    width: 180px;
    }
    60% {
    width: 180px;
    }
  }

  .dynamic-p-three {
    display: flex;
    width: 180px;
    height: 50px;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid gold;
    animation: blinking .5s infinite, typing-effect-three 3s steps(15) alternate infinite;
  }

  @keyframes typing-effect-three {
    0% {
      width: 0px;
    }
    100% {
    width: 160px;
    }
    60% {
    width: 160px;
    }
  }
  
  .dynamic-txts {
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    top: 0;
    animation: slideUp 18s steps(3) infinite;
  }
  
  @keyframes slideUp {
    100% {
      top: -84px;
    }
  } 
  
  @keyframes blinking {
    0% {
      border-color: transparent;
    }
    100% {
      border-color: gold;
    }
  }

  .home-footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    position: absolute;
    bottom: 20px;
    z-index: 10;
  }

  .get-resume-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    font-size: 10px;
    width: 130px;
    height: 50px;
    margin-top: 40px; 
    letter-spacing: 3px;
    color: white;
    background-color: rgba(0, 0, 0, 0.80);
    border: 1px solid gray;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .get-resume-btn:hover {
    color: black;
    border: 1px solid black;
    background-color: rgba(255, 217, 0, 0.50);
  }

  .social-links-btn-container {
    display: flex;
    gap: 1em;
  }
  
  .social-links-btn-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 35px;
    height: 35px;
    border: none;
    color: black;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .social-links-btn-container button:hover {
    border: 1px solid gold;
    color: gold;
    background-color: black;
  }

  .rgb-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: linear-gradient(90deg, gray, gold, black, wheat, gold);
    background-size: 1600% 1600%;

    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
}

@media only screen and (min-width: 637px) and (max-width: 1023px) {

  .home-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100dvh;
    gap: 5em;
    color: white;
    top: 0;
    }
  
    .home-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      top: 0;
    }
  
    .hero-container {
      display: flex;
      position: absolute;
      height: 300px; /* i will set this into 370px when I have a new selfie picture*/
      width: 300px; 
      bottom: 0;
      z-index: 9;
    }
  
    .hero-container img{
      width: 100%;
      height: 100%;
    }
  
    .hero-description-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      z-index: 10;
    }
  
    .name-wrapper-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 320px;
      height: 50px;
    }
  
    .name-wrapper-container h2 {
      display: flex;
      font-size: 22px;
      color: gold;
    }
  
    .john-rotation {
      display: inline-flex;
      align-items: center;
      font-size: 12px;
      width: 12px;
      height: 12px;
      margin-top: 12px;
      font-weight: 1000;
      animation: rotate 1s infinite linear;
    }
  
    .myrotation {
      display: inline-flex;
      justify-self: center;
      align-self: center;
      animation: rotate 1s infinite linear;
    }
    
    @keyframes rotate {
      100% {
        transform: rotate(360deg);
      }
    }
  
    .hero-description-container p {
      font-size: 22px;
    }
  
    .dynamic-txt-static-wrapper {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      width: 320px;
      height: 50px;
      overflow: hidden;
    }
  
    .dynamic-txts-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 0;
      animation: step-up 18s steps(3) infinite;
    }
  
    @keyframes step-up {
      100% {
        top: -150px;
      }
    }
  
    .dynamic-p-one {
      display: flex;
      width: 220px;
      height: 50px;
      align-items: center;
      white-space: nowrap;
      overflow: hidden;
      border-right: 4px solid gold;
      animation: blinking .5s infinite, typing-effect-one 3s steps(18) alternate infinite;
    }
  
    @keyframes typing-effect-one {
      0% {
        width: 0px;
      }
      100% {
        width: 220px;
      }
      60% {
        width: 220px;
      }
    }
  
    .dynamic-p-two {
      display: flex;
      width: 180px;
      height: 50px;
      align-items: center;
      white-space: nowrap;
      overflow: hidden;
      border-right: 4px solid gold;
      animation: blinking .5s infinite, typing-effect-two 3s steps(18) alternate infinite;
    }
  
    @keyframes typing-effect-two {
      0% {
        width: 0px;
      }
      100% {
      width: 180px;
      }
      60% {
      width: 180px;
      }
    }
  
    .dynamic-p-three {
      display: flex;
      width: 180px;
      height: 50px;
      align-items: center;
      white-space: nowrap;
      overflow: hidden;
      border-right: 4px solid gold;
      animation: blinking .5s infinite, typing-effect-three 3s steps(15) alternate infinite;
    }
  
    @keyframes typing-effect-three {
      0% {
        width: 0px;
      }
      100% {
      width: 160px;
      }
      60% {
      width: 160px;
      }
    }
    
    .dynamic-txts {
      font-size: 20px;
      overflow: hidden;
      white-space: nowrap;
      position: relative;
      top: 0;
      animation: slideUp 18s steps(3) infinite;
    }
    
    @keyframes slideUp {
      100% {
        top: -84px;
      }
    } 
    
    @keyframes blinking {
      0% {
        border-color: transparent;
      }
      100% {
        border-color: gold;
      }
    }
  
    .home-footer-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      position: absolute;
      bottom: 20px;
      z-index: 10;
    }
  
    .get-resume-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .5em;
      font-size: 10px;
      width: 130px;
      height: 50px;
      margin-top: 40px; 
      letter-spacing: 3px;
      color: white;
      background-color: rgba(0, 0, 0, 0.80);
      border: 1px solid gray;
      border-radius: 50px;
      cursor: pointer;
    }
    
    .get-resume-btn:hover {
      color: black;
      border: 1px solid black;
      background-color: rgba(255, 217, 0, 0.50);
    }
  
    .social-links-btn-container {
      display: flex;
      gap: 1em;
    }
    
    .social-links-btn-container button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      width: 35px;
      height: 35px;
      border: none;
      color: black;
      border-radius: 50px;
      cursor: pointer;
    }
    
    .social-links-btn-container button:hover {
      border: 1px solid gold;
      color: gold;
      background-color: black;
    }
  
    .rgb-bg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background: linear-gradient(90deg, gray, gold, black, wheat, gold);
      background-size: 1600% 1600%;
  
      -webkit-animation: AnimationName 5s ease infinite;
      -moz-animation: AnimationName 5s ease infinite;
      animation: AnimationName 5s ease infinite;
  }
  
  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
}

@media only screen and (min-width: 1023px) and (max-width: 8000px) {

  .home-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100dvh;
    gap: 5em;
    color: white;
    top: 0;
    }
  
    .home-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      top: 0;
    }
  
    .hero-description-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      z-index: 10;
    }
  
    .name-wrapper-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 500px;
      height: 50px;
    }
  
    .hero-description-container p {
      font-size: 30px;
    }
  
    .name-wrapper-container h2 {
      display: flex;
      font-size: 34px;
      color: gold;
    }
  
    .john-rotation {
      display: inline-flex;
      align-items: center;
      font-size: 20px;
      width: 20px;
      height: 20px;
      margin-top: 17px;
      font-weight: 1000;
      animation: rotate 1s infinite linear;
    }
  
    .myrotation {
      display: inline-flex;
      justify-self: center;
      align-self: center;
      animation: rotate 1s infinite linear;
    }
    
    @keyframes rotate {
      100% {
        transform: rotate(360deg);
      }
    }
  
    .dynamic-txt-static-wrapper {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      width: 320px;
      height: 50px;
      overflow: hidden;
    }
  
    .dynamic-txts-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 0;
      animation: step-up 18s steps(3) infinite;
    }
  
    @keyframes step-up {
      100% {
        top: -150px;
      }
    }
  
    .dynamic-p-one {
      display: flex;
      height: 50px;
      align-items: center;
      white-space: nowrap;
      overflow: hidden;
      border-right: 4px solid gold;
      animation: blinking .5s infinite, typing-effect-one 3s steps(18) alternate infinite;
    }
  
    @keyframes typing-effect-one {
      0% {
        width: 0px;
      }
      100% {
        width: 300px;
      }
      60% {
        width: 300px;
      }
    }
  
    .dynamic-p-two {
      display: flex;
      height: 50px;
      align-items: center;
      white-space: nowrap;
      overflow: hidden;
      border-right: 4px solid gold;
      animation: blinking .5s infinite, typing-effect-two 3s steps(18) alternate infinite;
    }
  
    @keyframes typing-effect-two {
      0% {
        width: 0px;
      }
      100% {
      width: 243px;
      }
      60% {
      width: 243px;
      }
    }
  
    .dynamic-p-three {
      display: flex;
      height: 50px;
      align-items: center;
      white-space: nowrap;
      overflow: hidden;
      border-right: 4px solid gold;
      animation: blinking .5s infinite, typing-effect-three 3s steps(15) alternate infinite;
    }
  
    @keyframes typing-effect-three {
      0% {
        width: 0px;
      }
      100% {
      width: 218px;
      }
      60% {
      width: 218px;
      }
    }
    
    .dynamic-txts {
      font-size: 20px;
      overflow: hidden;
      white-space: nowrap;
      position: relative;
      top: 0;
      animation: slideUp 18s steps(3) infinite;
    }
    
    @keyframes slideUp {
      100% {
        top: -84px;
      }
    } 
    
    @keyframes blinking {
      0% {
        border-color: transparent;
      }
      100% {
        border-color: gold;
      }
    }
  
    .home-footer-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      position: absolute;
      bottom: 20px;
      z-index: 10;
    }
  
    .get-resume-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .5em;
      font-size: 10px;
      width: 130px;
      height: 50px;
      margin-top: 40px; 
      letter-spacing: 3px;
      color: white;
      background-color: rgba(0, 0, 0, 0.80);
      border: 1px solid gray;
      border-radius: 50px;
      cursor: pointer;
    }
    
    .get-resume-btn:hover {
      color: black;
      border: 1px solid black;
      background-color: rgba(255, 217, 0, 0.50);
    }
  
    .social-links-btn-container {
      display: flex;
      gap: 1em;
    }
    
    .social-links-btn-container button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      width: 35px;
      height: 35px;
      border: none;
      color: black;
      border-radius: 50px;
      cursor: pointer;
    }
    
    .social-links-btn-container button:hover {
      border: 1px solid gold;
      color: gold;
      background-color: black;
    }
  
    .rgb-bg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background: linear-gradient(90deg, gray, gold, black, wheat, gold);
      background-size: 1600% 1600%;
  
      -webkit-animation: AnimationName 5s ease infinite;
      -moz-animation: AnimationName 5s ease infinite;
      animation: AnimationName 5s ease infinite;
  }
  
  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
}