@media only screen and (min-width: 320px) and (max-width: 637px) {

  .home-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100dvh;
  gap: 5em;
  color: white;
  top: 0;
  }

  .home-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
  }

  .hero-container {
    display: flex;
    position: absolute;
    height: 370px;
    width: 300px;
    bottom: 0;
    z-index: 9;
  }

  .hero-container img{
    width: 100%;
    height: 100%;
  }

  .hero-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 90px;
    z-index: 10;
  }

  .hero-description-container p {
    font-size: 22px;
  }

  .hero-description-container h2 {
    color: gold;
  }

  .dynamic-txts {
    height: 28px;
    line-height: 28px;
    border-right: 3px solid white;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(16, end) infinite alternate, blinking .5s infinite;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }  
    to {
      width: 78%;
    }
    50% {
      width: 78%;
    }
  }
  
  @keyframes blinking {
    0% {
      border-color: transparent;
    }
    100% {
      border-color: white;
    }
  }
  
  .dynamic-txts p {
    font-size: 24px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    top: 0;
    animation: slideUp 18s steps(3) infinite;
  }
  
  @keyframes slideUp {
    100% {
      top: -84px;
    }
  } 

  .home-footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    position: absolute;
    bottom: 20px;
    z-index: 10;
  }

  .get-resume-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    font-size: 10px;
    width: 130px;
    height: 50px;
    margin-top: 40px; 
    letter-spacing: 3px;
    color: white;
    background-color: rgba(0, 0, 0, 0.80);
    border: 1px solid gray;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .get-resume-btn:hover {
    color: black;
    border: 1px solid black;
    background-color: rgba(255, 217, 0, 0.50);
  }

  .social-links-btn-container {
    display: flex;
    gap: 1em;
  }
  
  .social-links-btn-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 35px;
    height: 35px;
    border: none;
    color: black;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .social-links-btn-container button:hover {
    border: 1px solid gold;
    color: gold;
    background-color: black;
  }

  .rgb-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: linear-gradient(90deg, gray, gold, black, wheat, gold);
    background-size: 1600% 1600%;

    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
}

@media only screen and (min-width: 637px) and (max-width: 1023px) {

  .home-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100dvh;
    gap: 5em;
    color: white;
    top: 0;
  }

  .home-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .hero-container {
    display: flex;
    position: absolute;
    height: 500px;
    width: 400px;
    bottom: 0;
    right: 20px;
    z-index: 9;
  }

  .hero-container img{
    width: 100%;
    height: 100%;
  }

  .hero-description-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .5rem;
    position: absolute;
    top: 120px;
    left: 60px;
    z-index: 10;
  }

  .hero-description-container p {
    font-size: 30px;
  }

  .hero-description-container h2 {
    font-size: 34px;
    color: gold;
  }

  .dynamic-txts {
    height: 35px;
    line-height: 35px;
    border-right: 3px solid white;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(16, end) infinite alternate, blinking .5s infinite;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }  
    to {
      width: 69%;
    }
    50% {
      width: 69%;
    }
  }
  
  @keyframes blinking {
    0% {
      border-color: transparent;
    }
    100% {
      border-color: white;
    }
  }
  
  .dynamic-txts p {
    font-size: 30px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    top: 0;
    animation: slideUp 18s steps(3) infinite;
  }
  
  @keyframes slideUp {
    100% {
      top: -105px;
    }
  } 
  
    .home-footer-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      position: absolute;
      bottom: 20px;
      left: 30px;
      z-index: 10;
    }
  
    .get-resume-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .5em;
      font-size: 10px;
      width: 160px;
      height: 50px;
      margin-top: 40px; 
      letter-spacing: 3px;
      color: white;
      background-color: rgba(0, 0, 0, 0.80);
      border: 1px solid gray;
      border-radius: 50px;
      cursor: pointer;
    }
    
    .get-resume-btn:hover {
      color: black;
      border: 1px solid black;
      background-color: rgba(255, 217, 0, 0.50);
    }
  
    .social-links-btn-container {
      display: flex;
      gap: 1em;
    }
    
    .social-links-btn-container button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      width: 45px;
      height: 45px;
      border: none;
      border-radius: 50px;
      color: black;
      cursor: pointer;
    }
    
    .social-links-btn-container button:hover {
      border: 1px solid gold;
      color: gold;
      background-color: black;
    }
  
    .rgb-bg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: linear-gradient(90deg, gray, gold, black, wheat, gold);
      background-size: 1600% 1600%;
  
      -webkit-animation: AnimationName 5s ease infinite;
      -moz-animation: AnimationName 5s ease infinite;
      animation: AnimationName 5s ease infinite;
  }
  
  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
}

@media only screen and (min-width: 1023px) and (max-width: 8000px) {

  .home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    color: white;
    top: 0;
  }

  .home-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 1400px;
    height: 100dvh;
  }

  .hero-container {
    display: flex;
    position: absolute;
    height: 500px;
    width: 400px;
    bottom: 0;
    right: 20px;
    z-index: 9;
  }

  .hero-container img{
    width: 100%;
    height: 100%;
  }

  .hero-description-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .5rem;
    position: absolute;
    top: 150px;
    left: 60px;
    z-index: 10;
  }

  .hero-description-container p {
    font-size: 35px;
  }

  .hero-description-container h2 {
    font-size: 40px;
    color: gold;
  }

  .dynamic-txts {
    height: 42px;
    line-height: 42px;
    border-right: 3px solid white;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(16, end) infinite alternate, blinking .5s infinite;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }  
    to {
      width: 70%;
    }
    50% {
      width: 70%;
    }
  }
  
  @keyframes blinking {
    0% {
      border-color: transparent;
    }
    100% {
      border-color: white;
    }
  }
  
  .dynamic-txts p {
    font-size: 35px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    top: 0;
    animation: slideUp 18s steps(3) infinite;
  }
  
  @keyframes slideUp {
    100% {
      top: -126px;
    }
  } 
  
    .home-footer-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      position: absolute;
      bottom: 50px;
      left: 60px;
      z-index: 10;
    }
  
    .get-resume-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .5em;
      font-size: 12px;
      width: 180px;
      height: 50px;
      margin-top: 40px; 
      letter-spacing: 3px;
      color: white;
      background-color: rgba(0, 0, 0, 0.80);
      border: 1px solid gray;
      border-radius: 50px;
      cursor: pointer;
    }
    
    .get-resume-btn:hover {
      color: black;
      border: 1px solid black;
      background-color: rgba(255, 217, 0, 0.50);
    }
  
    .social-links-btn-container {
      display: flex;
      gap: 1em;
    }
    
    .social-links-btn-container button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      width: 45px;
      height: 45px;
      border: none;
      border-radius: 50px;
      color: black;
      cursor: pointer;
    }
    
    .social-links-btn-container button:hover {
      border: 1px solid gold;
      color: gold;
      background-color: black;
    }
  
    .rgb-bg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background: linear-gradient(90deg, gray, gold, black, wheat, gold);
      background-size: 1600% 1600%;
  
      -webkit-animation: AnimationName 5s ease infinite;
      -moz-animation: AnimationName 5s ease infinite;
      animation: AnimationName 5s ease infinite;
  }
  
  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
}