.nav-container {
  background: rgba(0, 0, 0, 1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.nav-contents {
  display: flex;
  max-width: 1400px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.header-logo {
  display: flex;
  width: 115px;
  height: auto;
  cursor: pointer;
}

.nav-contents ul {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
}

.nav-contents li {
  margin: 1em;
}

.activeLink {
  text-decoration: none;
  font-size: 16px;
  color: white;
  position: relative;
  cursor: pointer;
  letter-spacing: 3px;
}

.activeLink::before{
  content: "";
  width: 1px;
  height: 3px;
  background: linear-gradient(90deg, rgb(124, 106, 1) 20%, gold 80%);
  border-radius: 0.5rem;
  position: absolute;
  bottom: -0.6rem;
  opacity: 0;
  transform: translateX(-1.5rem);
  transition: all 0.2s ease;
}

.activeLink:hover:before{
  width: 100%;
  transform: translateX(0);
  opacity: 1;
}

.menu-btn {
  display: flex;
  width: 35px;
  height: 35px;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 0.4rem;
  color: wheat;
  background-color: transparent;
  line-height: 0;
  cursor: pointer;
  transition: all 0.4s ease;
  display: none;
}

.menu-btn:hover {
  color: wheat;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid gray;
}

@media (max-width: 425px) {
  .header-logo {
    width: 6rem;
    height: auto;
  }
}

@media (max-width: 1023px) {
  .menu-btn {
    display: block;
  }

  .nav-contents ul {
    display: none;
  }
}

@media (max-width: 1325px) {
  .nav-container {
    padding: 0 2rem;
  }
  
}