@media only screen and (min-width: 320px) and (max-width: 637px) {

  .portfolio-container {
    display: flex;
    position: relative;
    overflow: hidden;
  }

  .portfolio-wrapper {
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    width: 100%;
    margin: 90px 0 50px 0;
    height: auto;
  }
  
  .portfolio-page-tittle {
    display: flex;
    justify-content: center;
  }
  
  .portfolio-page-tittle h3 {
    border-bottom: 5px solid gold;
  }

  .portfolio-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3em;
    padding: 10px;
    margin-top: 30px;
  }
  
  .portfolio-cards-container-front {
    width: 300px;
    height: 350px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 21px 0;
    gap: 1em;
    position: relative;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
    background-color: rgba(128, 128, 128, 0.01);
    box-shadow: 0px 0px 5px 2px rgba(255,208,0,0.1);

  }

  .portfolio-cards-container-back {
    width: 300px;
    height: 350px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 21px 0;
    gap: 1em;
    position: relative;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
    background-color: rgba(128, 128, 128, 0.01);
    box-shadow: 0px 0px 5px 2px rgba(255,208,0,0.1);
    overflow-y: scroll;
  }

  .portfolio-cards-container-front p {
    font-size: 15px;
    transform: scale(1);
  }
  
  .portfolio-image {
    width: 250px;
    height: 190px;
    border: 1px solid gold;
    transition: transform .3s;
  }
  
  .portfolio-image:hover {
    border-radius: 5px;
    transform: scale(1.1);
  }
  
  .portfolio-image img{
    width: 100%;
    height: 100%  ;
  }
  
  .portfolio-image img:hover{
    border-radius: 5px;
    width: 100%;
    height: 100%  ;
  }
  
  .portfolio-description {
    display: flex;
    width: 100%;
    align-items: start;
    padding-left: 22px;
    font-size: 16px;
    letter-spacing: 1px;
  }
  
  .portfolio-languages-tools {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  
  .portfolio-languages-tools p {
    font-size: 14px;
  }

  .portfolio-footer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }

  .portfolio-footer a {
    display: flex;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    color: gold;
    background-color: rgba(255, 217, 0, 0.02);
    border: 1px solid gold;
  }

  .portfolio-footer a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid white;
    
  }

  .portfolio-footer p {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .portfolio-footer p:hover {
    font-weight: 100;
    color: blue;
  }
  
  .portfolio-cards-container-back {
    display: flex;
    align-items: end;
    justify-content: start;
    padding: 15px;
    background-color: white;
    transform: rotateY(180deg);
  }
  
  .flip-text h3 {
    color: gold;
    margin-bottom: 10px;
    transform: scale(-1, 1);
  }
  
  .flip-text p {
    color: black;
    font-size: 14px;
    transform: scale(-1, 1);
  }

  .flipped-card {
    transform: rotateY(180deg);
  }

  .closeBtn {
    display: flex;
    position: absolute;
    font-size: 35px;
    top: 0;
    left: 0;
    color: #ca0707;
    padding: 5px;
    border-radius: 5px;
    z-index: 999;
  }
}

@media only screen and (min-width: 637px) and (max-width: 1023px) {

  .portfolio-container {
    display: flex;
    position: relative;
    overflow: hidden;
  }

  .portfolio-wrapper {
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    width: 100%;
    margin: 90px 0 50px 0;
    height: auto;
  }
  
  .portfolio-page-tittle {
    display: flex;
    color: white;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100px;
    left: 60px;
    width: 150px;
    height: 30px;
    border-bottom: 4px solid gold;
  }

  .portfolio-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    padding: 10px;
    margin-top: 90px;
  }
  
  .portfolio-cards-container-front {
    width: 300px;
    height: 350px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 21px 0;
    gap: 1em;
    position: relative;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
    background-color: rgba(128, 128, 128, 0.01);
    box-shadow: 0px 0px 5px 2px rgba(255,208,0,0.1);

  }
  .portfolio-cards-container-back {
    width: 300px;
    height: 350px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 21px 0;
    gap: 1em;
    position: relative;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
    background-color: rgba(128, 128, 128, 0.01);
    box-shadow: 0px 0px 5px 2px rgba(255,208,0,0.1);
    overflow-y: scroll;
  }

  .portfolio-cards-container-front p {
    font-size: 15px;
    transform: scale(1);
  }
  
  .portfolio-image {
    width: 250px;
    height: 190px;
    border: 1px solid gold;
    transition: transform .3s;
  }
  
  .portfolio-image:hover {
    border-radius: 5px;
    transform: scale(1.1);
  }
  
  .portfolio-image img{
    width: 100%;
    height: 100%  ;
  }
  
  .portfolio-image img:hover{
    border-radius: 5px;
    width: 100%;
    height: 100%  ;
  }
  
  .portfolio-description {
    display: flex;
    width: 100%;
    align-items: start;
    padding-left: 22px;
    font-size: 16px;
    letter-spacing: 1px;
  }
  
  .portfolio-languages-tools {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  
  .portfolio-languages-tools p {
    font-size: 14px;
  }

  .portfolio-footer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }

  .portfolio-footer a {
    display: flex;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    color: gold;
    background-color: rgba(255, 217, 0, 0.02);
    border: 1px solid gold;
  }

  .portfolio-footer a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid white;
    
  }

  .portfolio-footer p {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .portfolio-footer p:hover {
    font-weight: 100;
    color: blue;
  }
  
  .portfolio-cards-container-back {
    display: flex;
    align-items: end;
    justify-content: start;
    padding: 15px;
    background-color: white;
    transform: rotateY(180deg);
  }
  
  .flip-text h3 {
    color: gold;
    margin-bottom: 10px;
    transform: scale(-1, 1);
  }
  
  .flip-text p {
    color: black;
    font-size: 14px;
    transform: scale(-1, 1);
  }

  .flipped-card {
    transform: rotateY(180deg);
  }

  .closeBtn {
    display: flex;
    position: absolute;
    font-size: 35px;
    top: 0;
    left: 0;
    color: #ca0707;
    padding: 5px;
    border-radius: 5px;
    z-index: 999;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 8000px) {

  .portfolio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  .portfolio-wrapper {
    display: flex;
    color: white;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    margin: 90px 0 50px 0;
    height: auto;
  }
  
  .portfolio-page-tittle h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    width: 150px;
    font-size: 25px;
    border-bottom: 4px solid gold;
  }

  .portfolio-grid-container {
    display: grid;
    align-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3em;
    padding: 10px;
    margin-top: 90px;
  }
  
  .portfolio-cards-container-front {
    width: 300px;
    height: 360px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 21px 0;
    gap: 1em;
    position: relative;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
    background-color: rgba(128, 128, 128, 0.01);
    box-shadow: 0px 0px 5px 2px rgba(255,208,0,0.1);

  }
  .portfolio-cards-container-back {
    width: 300px;
    height: 360px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 21px 0;
    gap: 1em;
    position: relative;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
    background-color: rgba(128, 128, 128, 0.01);
    box-shadow: 0px 0px 5px 2px rgba(255,208,0,0.1);
    overflow-y: scroll;
  }
  
  .portfolio-cards-container-front p {
    font-size: 15px;
    transform: scale(1);
  }
  
  .portfolio-image {
    width: 250px;
    height: 190px;
    border: 1px solid gold;
    transition: transform .3s;
  }
  
  .portfolio-image:hover {
    border-radius: 5px;
    transform: scale(1.1);
  }
  
  .portfolio-image img{
    width: 100%;
    height: 100%  ;
  }
  
  .portfolio-image img:hover{
    border-radius: 5px;
    width: 100%;
    height: 100%  ;
  }
  
  .portfolio-description {
    display: flex;
    width: 100%;
    align-items: start;
    padding-left: 22px;
    font-size: 16px;
    letter-spacing: 1px;
  }
  
  .portfolio-languages-tools {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  
  .portfolio-languages-tools p {
    font-size: 14px;
  }

  .portfolio-footer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }

  .portfolio-footer a {
    display: flex;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    color: gold;
    background-color: rgba(255, 217, 0, 0.02);
    border: 1px solid gold;
  }

  .portfolio-footer a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid white;
    
  }

  .portfolio-footer p {
    display: flex;
    align-items: center;
      font-weight: 100;
    cursor: pointer;
  }

  .portfolio-footer p:hover {
    font-weight: 100;
    color: blue;
  }
  
  .portfolio-cards-container-back {
    display: flex;
    align-items: end;
    justify-content: start;
    padding: 15px;
    background-color: white;
    transform: rotateY(180deg);
  }
  
  .flip-text h3 {
    color: gold;
    margin-bottom: 10px;
    transform: scale(-1, 1);
  }
  
  .flip-text p {
    color: black;
    font-size: 14px;
    transform: scale(-1, 1);
  }

  .flipped-card {
    transform: rotateY(180deg);
  }

  .closeBtn {
    display: flex;
    position: absolute;
    font-size: 35px;
    top: 0;
    left: 0;
    color: #ca0707;
    padding: 5px;
    border-radius: 5px;
    z-index: 999;
  }
}

